/* Import the custom font */
@font-face {
  font-family: 'DS-DIGIT';
  src: url('./assets/fonts/DS-DIGIT.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* General styles for the app */
.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
}

/* Section styles */
.sections {
  flex: 1;
  padding: 20px;
}

.element {
  padding: 100px 20px;
  text-align: left; /* Ensure consistent text alignment */
  transition: background-color 1s ease-in-out; /* Smooth transition for background color */
}

#hello {
  background-color: #2e2e2e;
}

#skills {
  background-color: #383838;
}

#about {
  background-color: #424242;
}

#contact {
  background-color: #4c4c4c;
}

h2 {
  margin: 0;
  font-size: 2em; /* Improve readability of headings */
}

p {
  font-size: 1.1em; /* Improve readability of paragraphs */
  line-height: 1.5em;
}

/* Optional: Adding a smooth scroll behavior for browsers that support it */
html {
  scroll-behavior: smooth;
}
